@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #c4fa00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000f5;
    --foreground: #ffffffb0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  position: relative;
}

.logo {
  width: 7rem;
  position: absolute;
}
